<h3>Bonjour, {{ username }}! </h3>

<p>Félicitation pour votre inscription !!!</p>

<p>Rappel de vos informations personelles:</p>

<TABLE BORDER>
	<TR>
		<TH>  Nom d'utilisateur  </TH> <TH>Adresse email</TH>
	</TR>
	<TR>
		<TD> {{ username }}</TD> <TD> {{ email }} </TD>
	</TR>
</TABLE>

<p>Pour vous connécter merci de cliquer sur le lien suivant :</p> 

<p>{{ lienActivation }}</p>

<p>Cordialement ,</p>